:root {
  --blue: #0075ff;
  --blue-alt: #0d69d5;
  --orange: #f59e0b;
  --green: #22c55e;
  --red: #f44336;
  --grey: #888;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt);
}

::-webkit-scrollbar-track {
  background-color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

*:focus {
  outline: none;
}
/*  */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/*  */
.content {
  overflow: hidden;
}
/*  */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ccc;
}
@media (min-width: 768px) {
  .sidebar > h3 {
    margin-bottom: 50px;
  }

  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    background-color: #000;
  }

  .sidebar > h3::before {
    width: 80px;
    height: 2px;
  }

  .sidebar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid #fff;
    transform: translate(-50%, 50%);
  }
}

.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}

.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    padding: 10px;
    width: 60px;
  }
  .sidebar > h3 {
    font-size: 13px;
  }
  .sidebar ul li a {
  }
  .sidebar ul li a span {
    display: none;
  }
}

.content {
}
.content .search {
  position: relative;
}
.content .search::before {
  content: "\f002";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  top: calc(50% - 7px);
  left: 10px;
  font-size: 14px;
  color: var(--grey);
}

.content .search input {
  width: 160px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 30px;
  transition: width 0.3s;
}
.content .search input:focus {
  width: 200px;
}
.content .search input:focus::placeholder {
  opacity: 0;
}

.content .head .icon .notf::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--red);
  border-radius: 50%;
  right: 0;
}

.content .icon img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.page h1 {
  margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 3px;
}
.page h1::before {
  width: 150px;
  background-color: white;
}
.page h1::after {
  width: 50px;
  background-color: black;
}

.wropper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wropper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.wropper .intro img {
  width: 220px;
  margin-bottom: -10px;
}
.wellcome {
  overflow: hidden;
}

.wellcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wellcome .body > div {
  flex: 1;
  margin-bottom: 20px;
}

.wellcome .visit {
  margin: 0 15px 15px auto;
}
.wellcome > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 15px;
  margin-top: -30px;
}
/*  */

.quick textarea {
  resize: none;
  min-height: 150px;
}
.quick .save {
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}

.quick .save:hover {
  background-color: var(--blue-alt);
}

.targets .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  background-color: hsl(212, 100%, 50%, 20%);
}

.targets .details {
  flex: 1;
}

.targets .details .progress {
  width: 100%;
  background-color: hsl(212, 100%, 50%, 20%);
  height: 3px;
}

.targets .details .progress > span {
  height: 100%;
  position: relative;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 10px;
  right: -16px;
  font-size: 13px;
  padding: 2px 4px;
  border-radius: 6px;
}
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  border-top-color: var(--blue);
}

.targets .orange .progress > span span::after {
  border-top-color: var(--orange);
}
.targets .green .progress > span span::after {
  border-top-color: var(--green);
}

.targets .green .icon {
  background-color: hsl(142, 71%, 45%, 20%);
}
.targets .orange .icon {
  background-color: hsl(38, 92%, 50%, 20%);
}

/*  */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .tickets .box {
    width: 100%;
  }
}
/*  */
.news .box img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}

.news .box .info {
  flex-grow: 1;
}

.news .box:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .news .box .label {
    width: fit-content;
    margin: 5px auto 0;
  }
}
/*  */
.tasks .box:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.tasks .done :not(.delete) {
  opacity: 0.5;
  text-decoration: line-through;
}
.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red);
}
/*  */

.file ul li img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.file ul li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
/*  */

.last-project ul::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 9px;
  background-color: var(--blue);
}

.last-project ul li::before {
  content: "";
  display: block;
  margin-right: 15px;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid var(--blue);
  z-index: 1;
}

.last-project ul li.done::before {
  background-color: var(--blue);
}

.last-project ul li.current::before {
  animation: ch-color 1s infinite alternate;
}
@keyframes ch-color {
  from {
    background-color: var(--blue);
  }
  to {
    background-color: white;
  }
}
.launch-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 160px;
  opacity: 0.1;
}

/*  */

.reminders ul li span {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.reminders ul li .blue {
  border-left: 2px solid var(--blue);
}

.reminders ul li .green {
  border-left: 2px solid var(--green);
}
.reminders ul li .orange {
  border-left: 2px solid var(--orange);
}
.reminders ul li .red {
  border-left: 2px solid var(--red);
}

/*  */

.post .avatar {
  width: 50px;
  height: 50px;
}
.post .text {
  line-height: 1.8;
  min-height: 140px;
}

/*  */
.wropper .social .box {
  padding-left: 70px;
}
.wropper .social .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
}
.wropper .social .box i:hover {
  transform: rotate(5deg);
}

.wropper .social .twitter {
  background-color: hsl(203, 89%, 53%, 20%);
  color: #1da1f2;
}
.wropper .social .twitter i,
.wropper .social .twitter a {
  background-color: #1da1f2;
}
.wropper .social .facebook {
  background-color: hsl(203, 89%, 53%, 20%);
  color: #1877f2;
}
.wropper .social .facebook i,
.wropper .social .facebook a {
  background-color: #1877f2;
}
.wropper .social .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.wropper .social .youtube i,
.wropper .social .youtube a {
  background-color: #ff0000;
}
.wropper .social .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.wropper .social .linkedin i,
.wropper .social .linkedin a {
  background-color: #0077b5;
}

/*  */

.content .project .responsive {
  overflow-x: auto;
}
.content .project table {
  min-width: 1000px;
  border-spacing: 0px;
}

.content .project table thead td {
  background-color: #eee;
}
.content .project table td {
  padding: 15px;
}
.content .project tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.content .project tbody tr:hover td {
  background-color: #f7f7f7;
}

.content .project table tbody tr td:last-of-type {
  border-right: 1px solid #eee;
}

.content > .project table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.content > .project table img:not(:first-child) {
  margin-left: -17px;
}
/* Settings */
.settings-page :disabled {
  color: #bbb;
  background-color: #f0f8f8;
  cursor: no-drop;
}

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 72px;
  height: 30px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
}
.toggle-switch::before {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: #007bff;
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 46px;
}

/*  */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.settings-page .control textarea {
  resize: none;
  min-height: 140px;
}

/*  */

.general .box .email {
  display: inline-flex;
  width: calc(100% - 80px);
  margin-right: 10px;
}
/*  */

.settings-page .social .box i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}

.settings-page .social .box input {
  height: 40px;
  padding-left: 10px;
  background-color: #f6f6f6;
  border-radius: 0 6px 6px 0;
}

.settings-page .social .box:focus-within i {
  color: #000;
}
/*  */
.widgets-control input {
  display: none;
}

.widgets-control label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.widgets-control label::before,
.widgets-control label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  border-radius: 3px;
  transition: 0.3s;
}

.widgets-control label:hover::after {
  border-color: var(--blue);
}

.widgets-control label::before {
  content: "\f00c";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  background-color: var(--blue);
  color: #fff;
  border-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
  z-index: 1;
}

.widgets-control input:checked + label::before {
  transform: scale(1) rotate(0);
}

/*  */
.backup-control input {
  display: none;
}

.backup-control .date label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.backup-control .date label::before,
.backup-control .date label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  transition: 0.3s;
}

.backup-control .date label::before {
  background-color: var(--blue);
  border-color: var(--blue);
  transform: scale(0);
  width: 10px;
  height: 10px;
  left: 4px;
  top: 7px;
  transition: 0.3s;
}

.backup-control .date input:checked + label::before {
  transform: scale(1);
}
.backup-control .date input:checked + label::after {
  border-color: var(--blue);
}
/*  */

.backup-control .servers label {
  border-width: 2px;
  cursor: pointer;
}
.backup-control .servers input:checked + label {
  border-color: var(--blue);
  color: var(--blue);
}

/* Profile */

.profile-page {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .profile-page {
    margin-left: 10px;
    margin-right: 10px;
  }
  .profile-page .profile {
    justify-content: center;
  }
}

.profile-page .profile .avatar-box {
  padding: 20px 40px;
}

.profile-page .profile .avatar-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile-page .profile .avatar-box .level {
  height: 5px;
  min-width: 140px;
  max-width: 190px;
  margin: 10px auto;
  overflow: hidden;
}
.profile-page .profile .avatar-box .level span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--blue);
  display: block;
}
.profile-page .profile .info .box {
  border-left: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .profile .info .box:hover {
  background-color: #f9f9f9;
}
@media (max-width: 767px) {
  .profile-page .profile .info .box {
    flex-direction: column;
    text-align: center;
    border-left: none;
  }
}
.profile-page .profile .info .box h4 {
  font-weight: normal;
}
.profile-page .profile .toggle-switch {
  height: 20px;
}
.profile-page .profile .toggle-switch::before {
  height: 12px;
  border-radius: 8px;
}
/*  */
.profile-page .activities {
  flex: 3;
}
.profile-page .skills {
  flex: 1;
}
.profile-page .data .skills ul li span {
  padding: 5px;
  background-color: #eee;
  border-radius: 6px;
  margin: 5px;
  font-size: 14px;
}

.profile-page .activities .activity img {
  width: 70px;
  height: 70px;
}

@media (min-width: 768px) {
  .profile-page .activities .activity .date {
    text-align: right;
  }
}

/* Project */
.projects-page {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .projects-page {
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.projects-page .project > span.date {
  position: absolute;
  top: 15px;
  right: 15px;
}

.projects-page .project .images img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s;
}
.projects-page .project .images img:hover {
  z-index: 3;
}

.projects-page .project .images img:not(:first-child) {
  margin-left: -15px;
}
.projects-page .project .keys {
  text-align: right;
}
.projects-page .project .keys span {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 5px;
}

.projects-page .project .line {
  height: 8px;
  width: 250px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}
.projects-page .project .line span {
  height: 100%;
  border-radius: 10px;
  display: block;
}

/* Courses */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.courses-page .course {
  overflow: hidden;
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course .caver {
  width: 100%;
  max-width: 100%;
}
.courses-page .course .avatar {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 18px;
  left: 25px;
  border: 3px solid white;
  border-radius: 50%;
}

.courses-page .course p {
  line-height: 1.6;
}

.courses-page .course .title {
  position: absolute;
  top: -25%;
  left: 50%;
  font-size: 14px;
  transform: translateX(-50%);
}

/* Friend */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.friends-page .con {
  position: absolute;
  top: 10px;
  left: 10px;
}
.friends-page .con i {
  padding: 10px;
  background-color: #eee;
  color: #666;
  border-radius: 50%;
  font-size: 13px;
  transition: 0.3s;
}
.friends-page .con i:hover {
  color: white;
  background-color: var(--blue);
}
.friends-page .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.friends-page .icons .vip {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 5px;
  font-size: 40px;
  opacity: 0.3;
}
/* Files */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
/*  */
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats > div i {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: hsl(212, 100%, 50%, 20%);
}
.files-page .files-stats > div .green {
  background-color: hsl(142, 71%, 45%, 20%);
}
.files-page .files-stats > div .red {
  background-color: hsl(4, 90%, 58%, 20%);
}
.files-page .files-stats > div .orange {
  background-color: hsl(38, 92%, 50%, 20%);
}

.files-page .files-stats > div span {
  margin-left: auto;
}
.files-page .files-stats > a {
  margin: 15px auto 0;
  transition: 0.3s;
}

.files-page .files-stats > a:hover {
  background-color: var(--blue-alt);
}
.files-page .files-stats > a:hover i {
  animation: go-up 0.8s infinite;
}
@keyframes go-up {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-5px);
  }
}

/*  */

.files-page .files-content {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex: 1;
}

.files-page .file > i {
  position: absolute;
  top: 10px;
  left: 10px;
}

.files-page .file img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.files-page .file:hover img {
  transform: rotate(5deg);
}

/* Plans */
.plans-page {
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.plans-page .top {
  padding: 20px;
  border: 3px solid white;
  outline: 3px solid var(--green);
}
.plans-page .blue .top {
  outline-color: var(--blue);
}

.plans-page .orange .top {
  outline-color: var(--orange);
}

.plans-page .top span {
  margin: auto;
  font-size: 40px;
}
.plans-page .top span span {
  position: absolute;
  font-size: 24px;
  top: 0;
  left: -18px;
}
.plans-page ul li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}
.plans-page ul li i:first-of-type {
  margin-right: 10px;
}
.plans-page ul li i.yes {
  color: var(--green);
}

.plans-page ul li i:not(.yes, .help) {
  color: var(--red);
}

.plans-page ul li .help {
  margin-left: auto;
  color: var(--grey);
}
